#panel_logowania {
  width: 400px;
  margin: 0 auto;
  padding: 15px 0 0;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #000000;
  font: 16px calibri;
  letter-spacing: -1px;
  -webkit-box-shadow: 0 0 2px #ffffff;
  -moz-box-shadow: 0 0 2px #ffffff;
  box-shadow: 0 0 2px #ffffff;
}

form {
  margin: 0;
}

label {
  display: block;
  width: 260px;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
}

#username, #password {
  display: block;
  width: 360px;
  margin: 0 auto;
  padding: 10px 5px;
  border: 1px solid #000000;
  outline: 5px solid #ffffff;
  font-size: 22px;
}

#username:focus, #password:focus {
  outline: 5px solid rgba(0, 102, 255, 0.53);
}

#lower {
  background: rgba(99, 99, 99, 0);
  width: 360px;
  padding: 5px 20px;
  margin-top: 20px;
}

.check {
  display: inline;
  float: none;
  font-size: 11px;
  padding: 20px;
}

input[type="submit"] {
  width: 70px;
  padding: 5px 13px;
  border: 1px solid #000000;
  color: #020202;
  text-shadow: 0 0 1px #ffffff;
  background: rgba(255, 255, 255, 0);
  position: relative;
  left: 180px;
}

#panel_logowania, input[type="submit"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
