<div class="toolbar" role="banner">
  <img src="favicon.ico" />
  <span>Aplikacja do ankiet</span>


</div>






<div class="content" role="main">

</div>


<!-- * * * * * * Komponenty * * * * * * -->
<login></login>

<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>

