<div id="dodanie_ankiety">
  <form>
    <label for="name">Podaj nazwę ankiety:</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="question1">Podaj swoje pytanie nr 1:</label>
    <input type="text" id="question1" name="question1">
    <label for="answer">Podaj odpowiedzi:</label>
    <input type="text" id="answer1_1" name="answer1_1"> <br>
    <input type="text" id="answer1_2" name="answer1_2"> <br>
    <input type="text" id="answer1_3" name="answer1_3">

    <br>
    <br>

    <label for="question2">Podaj swoje pytanie nr 2:</label>
    <input type="text" id="question2" name="question2">
    <label for="answer">Podaj odpowiedzi:</label>
    <input type="text" id="answer2_1" name="answer2_1"> <br>
    <input type="text" id="answer2_2" name="answer2_2"> <br>
    <input type="text" id="answer2_3" name="answer2_3">

    <br>

    <label for="question3">Podaj swoje pytanie nr 3:</label>
    <input type="text" id="question3" name="question1">
    <label for="answer">Podaj odpowiedzi:</label>
    <input type="text" id="answer3_1" name="answer3_1"> <br>
    <input type="text" id="answer3_2" name="answer3_2"> <br>
    <input type="text" id="answer3_3" name="answer3_3">

    <br>

    <label for="question4">Podaj swoje pytanie nr 4:</label>
    <input type="text" id="question4" name="question4">
    <label for="answer">Podaj odpowiedzi:</label>
    <input type="text" id="answer4_1" name="answer4_1"> <br>
    <input type="text" id="answer4_2" name="answer4_2"> <br>
    <input type="text" id="answer4_3" name="answer4_3">

    <br>

    <label for="question5">Podaj swoje pytanie nr 5:</label>
    <input type="text" id="question5" name="question5">
    <label for="answer">Podaj odpowiedzi:</label>
    <input type="text" id="answer5_1" name="answer5_1"> <br>
    <input type="text" id="answer5_2" name="answer5_2"> <br>
    <input type="text" id="answer5_3" name="answer5_3">

    <br>
    <br>

    <div id="lower">
      <input type="submit" value="Dodaj ankiete" >
    </div>
  </form>
</div>
