#dodanie_ankiety {
  width: 400px;
  margin: auto;
  padding: 5px 300px;
  background: rgba(255, 255, 255, 0.57);
  border: 2px solid #000000;
  font: 16px calibri;
  letter-spacing: -1px;
}

form {
  margin: 0;
}

label {
  display: block;
  width: 260px;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
}



#lower {
  background: rgba(99, 99, 99, 0);
  width: 360px;
  padding: 5px 20px;
  margin-top: 20px;
}

