/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://s6.ifotos.pl/img/nbD3uMppn_qqphahh.png");
  background-position: center;
  background-attachment: fixed;
  font-size: 20px;
  margin: 0 !important;
  background-color: #303030;
  color: #ffffff;
}

.wrapper
{
  width: 100%;
}

.header
{
  width:100%;
  padding: 40px 0;
}

.logo
{
  width: 450px;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
}

.nav
{
  width: 100%;
  padding: 10px 0;
  background-color: #3f85ff;
  text-align: center;
}

.content
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-top: 10px;
}


.footer
{
  text-align: center;
  background-color: rgba(10, 10, 10, 0.82);
  padding: 20px;

}

.sticky
{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

ol
{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  height: 35px;
  line-height: 200%;
  display: inline-block;
}

ol a
{
  color: #ffffff;
  text-decoration: none;
  display: block;
}

ol > li
{
  float: left;
  width: 150px;
  height: 40px;
  border-right: 1px dashed #000000;
}

ol > li:first-child
{
  border-left: 1px dashed #dedede;
}

ol > li:hover
{
  background-color: #4761ff;
}

ol > li:hover > a
{
  color: #000000;
}

ol > li > ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 40px;
  display: none;
}

ol > li:hover > ul
{
  display: block;
}

ol > li > ul > li
{
  background-color: #0088ff;
  position: relative;
  z-index: 100;
  border-top: 1px dashed #000000;
}

ol > li > ul > li:hover
{
  background-color: #000000;
}

ol > li > ul > li:hover > a
{
  color: #451717;
}
