<p xmlns="http://www.w3.org/1999/html">menu works!</p>

<ol>
  <li><a href="#">Ankieta</a>
    <ul>
      <li><a href="#">Dodaj ankiete</a> </li>
      <li><a href="#">Sprawdz liste ankiet</a> </li>
      <li><a href="#">Sprawdz liste dostepnych ankiet</a> </li>
      <li><a href="#">Sprawdz swoje odpowiedzi</a> </li>
      <li><a href="#">Sprawdz statystyki ankiety</a> </li>
    </ul>
  </li>
  <li><a href="#">Konto</a>
    <ul>
      <li><a href="#">Sprawdz swoje konto</a> </li>
      <li><a href="#">Wyloguj</a> </li>
    </ul>
  </li>
</ol>
