ol {
  list-style-type:none;
  padding:0;
  margin:0;
  background-color:#FFF;
  font-size:18px;
  height:2em;
  line-height:2em;
  text-align:center;
}

ol > li {
  float: left;
  width: 150px;
  margin-left:  1px;
  background-color: transparent;
  height: 2em;
}

ol > li:hover > a {
  color: #00CCFF;
}

ol > li:hover > ul {
  display: block;
}

ol > li > ul {
  display: none;
  list-style-type: circle;
  padding: 0;
  margin: 0;
}

ol > li > ul {
  display:none;
  list-style-type:none;
  padding:0;
  margin:0;
}

ol > li > ul > li {
  position:relative;
  background-color:#EEE;
}

ol > li > ul > li > a {
  border-top:1px solid #FFF;
}

ol > li > ul > li:hover {
  background-color:#DDD;
}

ol > li > ul > li:hover > a {
  color:#09C;
}



