<div id="vote">
<div id="vote2" *ngIf="vote?.survey">
  <h3>{{vote.survey.name}}</h3>

  <div *ngIf="vote.hashedIdentifier.length!=0 && isEdit==false">
    <app-answer *ngFor="let answer of vote.answers" [answer]="answer" [isEdit]="false"></app-answer>
  </div>
  <div *ngIf="vote.hashedIdentifier.length==0 && isEdit==true && !isShowScore">
    <app-answer *ngFor="let answer of vote.answers" [answer]="answer" [isEdit]="true"></app-answer>
  </div>


  <app-survey-result *ngIf="isShowScore || (vote.hashedIdentifier.length!=0 && isEdit==true)" [surveyId]="vote.survey.id"></app-survey-result>

  <br>
  <hr>
  <button *ngIf="vote.hashedIdentifier.length==0 && !isShowScore" (click)="sendVote()">Zapisz odpowiedzi</button>
  <button *ngIf="vote.hashedIdentifier.length==0 && !isShowScore" (click)="showScore()">Pokaż wyniki</button>

  <app-hash-display *ngIf="vote.hashedIdentifier.length!=0 && isEdit==true" [hash]="vote.hashedIdentifier"></app-hash-display>
</div>
</div>
